{% extends "base.html" %}
{% block content %}

<h2>Resumo da Carteira</h2>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Ticker</th>
            <th>Quantidade</th>
            <th>Preço Médio</th>
            <th>Total Investido</th>
        </tr>
    </thead>
    <tbody>
        {% for p in posicoes %}
        <tr>
            <td>{{ p.ticker }}</td>
            <td>{{ p.quantidade }}</td>
            <td>R$ {{ p.preco_medio | round(2) }}</td>
            <td>R$ {{ p.total_investido | round(2) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
